$primary-color: white;
$bg: black;
h1 {
  color: $primary-color;
  background-color: $bg;
}

.employees {
  list-style-type: none;
  margin: 0;
  padding: 0;

  .employee {
    padding: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    div{
      margin-top: 1rem;
      color: #ccc;
    } 

  }

}
